/* Import fonts */
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

/* Body and header text */
.book.font-family-1 {
  font-family: "Fira Sans", sans-serif;
  font-weight: 400;
}

h1, h2, h3, h4, .title {
  line-height: 1.1;
  font-family: 'Bebas Neue', serif;
  color: #2f5275;
}

h1 {
  font-size: 3em !important;
}

.title {
  line-height: 1.1;
  font-family: 'Bebas Neue', serif;
  font-size: 3em !important;
  color: #2f5275;
  margin-bottom: 0.0em; /* Reduce space below the title */
}

.subtitle {
  font-family: 'Bebas Neue', serif;
  color: #2c6793;
  margin-top: 0; /* Remove extra space above the subtitle */
}

/* Captions */
p.caption {
  color: #777;
  margin-top: 10px;
}

/* Code blocks */
p code, pre code {
  white-space: inherit;
}

pre {
  word-break: normal;
  word-wrap: normal;
}

/* Logo in Table of Contents (TOC) */
.toc-logo {
  width: 100px !important;
  object-fit: contain;
  margin: 0 auto;
  display: block;
}

.toc-logo img {
  max-width: 50%;
  margin-bottom: 10px;
}

/* TOC adjustments */
.book .book-summary {
  background: white;
  border-right: none;
}

.book .book-summary ul.summary li a,
.book .book-summary ul.summary li span {
  padding: 8px 15px;
  color: #2f5175;
}

.summary a:hover {
  color: darkred !important;
  text-decoration: none;
}

.book .book-summary ul.summary li.active > a {
  color: darkred !important;
  border-left: 4px solid darkred;
  padding-left: 11px !important;
}

/* Styling for TOC parts */
li.appendix span, li.part span {
  color: #1c3046 !important;
  text-transform: uppercase;
  opacity: 1 !important;
}

/* Body links */
.book .book-body .page-wrapper .page-inner section.normal a {
  color: #3f88ca;
}

.book .book-body .page-wrapper .page-inner section.normal a:hover {
  color: #1f5386;
  text-decoration: none;
}
